.DS_Store
.env
.env.backup
.env.production
.env.testing
.phpunit.result.cache
.php-cs-fixer.cache
/.claude
/.codex
/.cursor
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/vendor
