parameters:
    level: 8
    paths:
        - src
    typeAliases:
        InertiaConfig: 'array{root_view: string, shared_data: array<array-key, array<string, mixed>|class-string>}'
        DependenciesConfig: 'array{factories: array<class-string, class-string>}'
